pytest>=8.4,<10
pytest-json-report
astroid>=4.2.0b5,<=4.3
dill>=0.2; python_version < "3.11"
dill>=0.3.6; python_version >= "3.11"
isort>=5,!=5.13,<9
mccabe>=0.6,<0.8
platformdirs>=2.2
tomli>=1.1; python_version < "3.11"
tomlkit>=0.10.1
